<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282567456099-gmffn2siolofs5jobt8f2s9649602n3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282567456099-gmffn2siolofs5jobt8f2s9649602n3d</string>
	<key>API_KEY</key>
	<string>AIzaSyA6vXlR3YbYHwABqgsz3BOWnyTb4U5l3Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>282567456099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anusha.FitGenie</string>
	<key>PROJECT_ID</key>
	<string>fitgenie-6ef41</string>
	<key>STORAGE_BUCKET</key>
	<string>fitgenie-6ef41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282567456099:ios:8fa124c1015ac574078f56</string>
</dict>
</plist>